.section-subtitle {
  margin-top: 20px;
  text-align: center;
  align-self: center;
  width: 60%;
  margin-bottom: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.section-subtitle_theme_dark {
  color: white;
}
